<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iya.energy.gas.model.dao.GasMapper">
    <resultMap id="gasResultMap" type="com.iya.energy.gas.model.dto.GasDTO">
        <id property="gasid" column="GAS_ID"/>
        <result property="cost" column="COST"/>
        <result property="gas_usage" column="GAS_USAGE"/>
        <result property="usetime" column="USETIME"/>
        <association property="user_id" javaType="com.iya.energy.member.model.dto.MemberDTO">
            <id property="user_id" column="USER_ID"/>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="gasResultMap">
        SELECT * FROM GAS
    </select>
</mapper>